body {
  background-color: white;
  color: #black;
  font-size: 16px;
  font-family: Helvetica;
}

h1 {
  font-size: 3em;
  line-height: 1.5em;
  margin-top: 50px;
}

h3 {font-size: 1.2em;
    line-height: 1.2em;
    margin-bottom: 20px;
}

nav {
  background-color: rgb(43, 109, 216);
  float: left;
  position: fixed;
  width: 100%;
}

a {
  text-decoration: none;
  color: #AECCFF;
  font-weight: bold;
}

a:hover {
  font-weight: bold;
  color: white;
}

.story-text {
  line-height: 1.3em;
}

p {
  margin-top: 20px;
}

p.author {
  line-height: normal;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: .8em;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 150px;
  padding-bottom: 200px;
}

figcaption {
  padding-top: 10px;
  font-size: .8em;
}
.container {
  margin: 0 auto;
  width: 50%;
}
